---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header class="bg-[#fdecef] shadow px-8">
		<div class="flex justify-between items-center h-35">
			<div class="size-32">
				<img src="image/logo.png">
			</div>
			<div class="p-5 bg-orange-600">
				<h1 class="text-white">prueba de elemento 1</h1>
			</div>
			<div class="p-5 bg-black">
				<button><svg class=""></button>
			</div>
			
		</div>	
	</header>
</Layout>