---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header class="bg-[#cb1f42]">
		<div class="flex justify-center container mt-20 bg-red-700 gap gap-x-4">
			<div class="flex p-5 justify-center bg-orange-600">
				<h1 class="text-white">Demon Slayer</h1>
			</div>
			<div class="flex p-5 justify-center bg-black">
				<h1 class="text-white bg-black">kimetzu no yaiba</h1>
			</div>
			<div>
				<img>
			</div>
		</div>	
	</header>
</Layout>